body {
    font-family: 'Roboto Slab', serif;

}

h1 {
    text-align: center;
}

p {
    text-align: center;
}



.blue {
    background: rgb(105, 105, 201);
    border: 1px solid;
    text-align: center;
    padding: 5%;
}

.post {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    width: 50%;
    padding: 20px;
    
}

.date {
    font-family: 'Gelasio', serif;
}

.quote {
    border-left: 5px solid gray;
    padding-left: 5px; 
  }

 

  
